html, body {
    background-color: rgb(221, 188, 205);
    color: rgb(138, 21, 21);
    font-family: 'Fanwood Text', serif;
    font-size: 1.1em;
}

p {
    margin: 10px 0;
}

#poem-title {
    font-size: 25px;
    font-style: italic;
    cursor: pointer;
}

.poem {
    margin: 60px auto 100px;
    width: 55%;
    user-select: none; 
}

.picture {
  cursor: pointer;
  
}

.popup-image {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 70vw;
  max-height: 80vh;
  display: none;
  pointer-events: none;
}

#poem-title-popup {
  display: none; 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  margin: 0 auto;
  background: #fef9ff;
  padding: 25px;
  font-size: 18px;
  font-style:italic;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  color: rgb(142 64 64);
}


@media (max-width: 400px) {
  .poem {
    width: 95%;
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  .poem {
    width: 90%;
  }
}

@media (hover: none) {
  .picture {
    border-bottom: 2px dotted rgb(179, 128, 128); 
  }
}


.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}